@import "./colors";
@import "./buttons";
@import "./mixins";

.about-section {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1576995853123-5a10305d93c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");

  .header {
    font-size: 1rem;
    color: $gray-color;
    width: 50%;
    top: 4rem;
    left: 25%;
    text-align: center;
  }
}
