@import "./colors";
@import "./mixins";
@import "./fonts";

.header {
  position: sticky;
  top: 0;
  font-family: $font-roboto;

  nav {
    @include flex-center;
    justify-content: space-between;
    height: 4rem;
    background-color: $main-color;

    .ul-items {
      list-style: none;

      .li-items {
        a {
          text-decoration: none;
          color: $secondary-color;
          margin: 0 1rem;
          font-size: 16px;
        }

        .orange {
          color: $orange-color;
        }
      }
    }
  }

  .logo {
    text-transform: uppercase;
    margin-right: 2rem;
    font-family: $font-roboto;
  }

  .right {
    @include flex-center;

    .search {
      @include flex-center;
      color: $gray-color;
    }

    .sch-btn {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
  }

  .right-buttons {
    @include flex-center;
    margin-right: 1rem;

    button {
      margin: 0 1rem;
      background: none;
      border: none;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $gray-color;
        font-size: 16px;
      }
    }

    .basket {
      color: $basket-color;
    }
  }
}
